@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

*{
    font-family: 'Josefin+Sans', sans-serif;
    box-sizing: border-box; /* without this, adding padding, margin, etc will ADD to the width we define */
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    border: none;
    transition: all .5s;
}

html{
    scroll-behavior: smooth;
}

:root{
    --maincolor: #9955da;
}

*::selection{ /*the colour your selections show up as (default is dark blue) */
    background: var(--maincolor);
    color: #fff;
}
/* makes cool scrollbar !! */
html::-webkit-scrollbar{
    width: 1.3rem;
}

html::-webkit-scrollbar-track{ /*the whole bar */
    background: #333;
    border-radius:1rem;
}

html::-webkit-scrollbar-thumb{ /* scrolly part */
    background: var(--maincolor);
    border-radius:1rem;
}

header{
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 2.5rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header .logo{
    font-size: 2rem;
    font-weight: bold;
    color: #555;
}

header img{
    height: 2rem;
}

header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header nav ul li{
    margin-left: 2.5rem;
}

header nav ul li a{
    color: #333;
    font-size: 1.3rem;
}

header nav ul li a:hover{
    color: var(--maincolor);
    border-bottom: .2rem solid var(--maincolor);
    border-radius: .5rem;
    padding: 1rem 0;
}

section{
    min-height: 50vh;
    padding: 12rem 7% 0;
}
body{
    background: #eee;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    border-radius: 1rem;
    background: var(--maincolor);
    color: #FFF;
    overflow: hidden;
    font-size: 1.3rem;
}

.btn:hover{
    background: #333;
}

#home, #symptoms{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.image{
    flex: 1 1 20rem; /* grow, shrink, base value */
}

.image img{
    width: 100%;
}

.content{
    flex: 1 1 30rem;
    margin-left: 3rem;
}

span{
    color: var(--maincolor);

}

#home h1{
    color: #444;
    font-size: 3rem;
}

#home p, #symptoms p{
    color: #888;
    font-size: 1.2rem;
    padding: 1rem 0;
}

#protect h2, #symptoms h2{
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}


#protect .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}



#protect .box{
    background: #fff;
    border: .1rem solid rgba(0,0,0,.1);
    padding: 2rem;
    margin: 1rem;
    width: 24rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    text-align: center;
}



#protect .box:hover{ 
    transform: translateY(-1rem);
}

#protect img{
    width: 12rem;
    height: 12rem;
}

#protect h3{
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
}

#symptoms h2{
    font-size: 2rem;
    text-align: left;
    padding: 1rem 0;
}

#symptoms ul{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
}

#symptoms ul .two{
    padding-left: 4.5rem;
}

#symptoms ul li{
    margin-left: 2rem;
    font-size: 1.3rem;
    color: #444;
    padding: .5rem 0;
}

#prevent{
    background: #222;
}

#prevent .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

#prevent h2{
    color: #FFF;
    font-size: 2rem;
    padding: 2rem 0;
}

#prevent h2 span{
    color: #9966cb;
}

#prevent ul li{
    margin-left: 2rem;
    font-size: 1.3rem;
    color: #eee;
    padding: .5rem 0;
}

#spread h1{
    font-size: 3rem;
    text-align: center;
    color: #555;
    margin-bottom: 2rem;
}

#spread .spread-image{
    height: 80vh;
    width: 100%;
    background: url("images/map.png");
    background-position: center; 
    background-size: cover;
}

#spread{
    padding: 3rem 0 0;
}

#menu{
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    display: none;
}

@media (max-width: 1500px){
    html{
        font-size: 80%;
    }
}



@media (max-width: 900px){
    #menu{
        display: block;
    }

    header nav{
        position: fixed;
        top: 7.5rem; 
        left: -120%;
        width: 100%;
        height: 100%;
        background: #eee;
        border-top: .2rem solid rgba(0,0,0,.1);
    }

    header nav ul{
        flex-flow: column;
        padding: 2rem;
    }

    header nav ul li{
        text-align: center;
        width: 100%;
        margin: 1rem 0;
    }

    header nav ul li a{
        display: block;
        padding: 1rem;
        background: #ddd;
        color: #333;
        border-radius: 1rem;
    }
    header nav ul li a:hover{
        background: var(--maincolor);
        color: #fff;
    }

    .nav-toggle{
        left: 0;
    }
}
@media (min-width: 700px){
    footer h2{
        text-align: left;
    }
}
@media (max-width: 700px){
    footer{
        text-align: center;
    }
    footer .box-container{
        align-items: center;
    }
}
@media (max-width: 500px){
    
    section{
        padding: 8rem 3% 0;
    }

    .content{
        margin-left: 1rem;
        text-align: justify;
    }

    .btn{
        width: 100%;
        text-align: center;
        margin: 1rem 0;
    }
}

footer .box-container{
    display: flex;
    align-items: center;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}

footer .box{
    padding: 2rem;
    width: 24rem;
    
}

footer h2{
    padding: 1rem 0;
}

footer h3{
    text-align: center;
    padding: 1rem 0;
}

footer hr{
    border-bottom: .1rem solid #ccc;
    margin: 0 auto;
    width: 90%;
}

footer{
   background: #222;
   color: #ccc;
}

footer ul li a{
    color: #ccc;
}

footer p{
    margin: 1rem 0;
    text-align: justify;
}

footer ul li{
    margin: 1rem 0;
    list-style: none;
}

footer ul li a:hover{
    color: #666;
}

footer .fa-solid{
    color: var(--maincolor);
    margin: 0 1rem 1rem;
}

.socials .fa-brands{
    border: .1rem solid #999;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding-top: 1rem;
    color: #ccc;
}

.socials .fa-brands:hover{
    background: #ccc;
    color: var(--maincolor);
}